* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  background: white;
  border-radius: 30px;
  box-shadow: 12px 12px 22px;
}

.login img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: -15px;
}

.login h1 {
  font-size: 4rem;
  font-weight: 700;
  font-family: 'Noto Serif NP Hmong', serif;
}

.imp {
  height: 50px;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 60px;
  box-shadow: 0px 0px 30px -11px rgba(64, 90, 176, 0.77);
  -webkit-box-shadow: 0px 0px 30px -11px rgba(64, 90, 176, 0.77);
  -moz-box-shadow: 0px 0px 30px -11px rgba(64, 90, 176, 0.77);
}

section,
body  {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); 
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.row {
  background-image: linear-gradient(to right, rgb(238, 126, 126), rgb(255, 197, 187));
}

/* Flash messages */
.message {
  padding: 1rem;

  background: #eff8ff;
  color: #2779bd;

  border-color: #6cb2eb;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.message.hidden {
  display: none;
}

.message.success {
  background: #e3fcec;
  color: #1f9d55;
  border-color: #51d88a;
}

.message.warning {
  background: #fffabc;
  color: #8d7b00;
  border-color: #d3b800;
}

.message.error {
  background: #fcebea;
  color: #cc1f1a;
  border-color: #ef5753;
}

button {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

button:active {
  color: rgb(0, 0, 0)
}

button:active:after {
  background: transparent;
}

button:hover:before {
  opacity: 1;
}

button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
